













/*

Andrea's stuff,,, sorry its a mess ;-; 

*/
body.livingroom{
	z-index: 2;
	background-image: url(media/living-room.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
body.kitchen{
	z-index: 2;
	background-image: url(media/kitchen.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
mark{
	bottom: 40px;
	background-color: red;
	color: black;
	border: 3px solid red;
	position: fixed;
	bottom: 530px;
}

.intercom{
	z-index: 3;
	background-image: url(media/intercom.png);
	background-size: 80%;
	background-repeat: no-repeat;
	position: fixed;
}

body.first{
	z-index: 2;
	background-image: url(media/bedroom.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
body.lay{
	background-image: url(https://www.gannett-cdn.com/presto/2022/10/18/PLOU/13ce2248-71ef-429c-8f13-80f8d5978553-contemporary_and_chic_1.jpg?crop=6199,3487,x0,y160&width=3200&height=1801&format=pjpg&auto=webp);
	background-repeat: no-repeat;
	background-size: 180%;
	background-position: 25% 60%;
	bottom: 50px;
}
.text1{
	background-color: white;
	position: fixed;
	z-index: 1;
	color: black;
	position:relative;
	top:490px;
	padding: 5px 10px 5px 10px;
	border: 2px solid black;
}
body.picture{
	z-index: 3;
	background-image: url(media/picture.png);
	background-repeat: no-repeat;

}
/*

Keala's Stuff. Just the .tutorial and .bathroom and some text boxes, intercoms, and texts. It's 
messy, sorry.

*/
body.tutorial{
	background-image: url(https://cdn1.epicgames.com/ue/product/Screenshot/08-1920x1080-bf05d1f8768ebea7bc62c1745f2b0b5c.jpg?resize=1&w=1920);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 60% 65%;
	background-size: 110%;
}

body.tutorialsofa{
	background-image: url(https://cdn1.epicgames.com/ue/product/Screenshot/08-1920x1080-bf05d1f8768ebea7bc62c1745f2b0b5c.jpg?resize=1&w=1920);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 75% 65%;
	background-size: 150%;
}

body.tutorialmirror{
	background-image: url(https://cdn1.epicgames.com/ue/product/Screenshot/08-1920x1080-bf05d1f8768ebea7bc62c1745f2b0b5c.jpg?resize=1&w=1920);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 75% 65%;
	background-size: 150%;
}

body.tutorialshelf{
	background-image: url(https://cdn1.epicgames.com/ue/product/Screenshot/08-1920x1080-bf05d1f8768ebea7bc62c1745f2b0b5c.jpg?resize=1&w=1920);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 75% 65%;
	background-size: 150%;
}

body.tutorialfire{
	background-image: url(https://cdn1.epicgames.com/ue/product/Screenshot/08-1920x1080-bf05d1f8768ebea7bc62c1745f2b0b5c.jpg?resize=1&w=1920);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 75% 65%;
	background-size: 150%;
}

body.tutoriallamp{
	background-image: url(https://cdn1.epicgames.com/ue/product/Screenshot/08-1920x1080-bf05d1f8768ebea7bc62c1745f2b0b5c.jpg?resize=1&w=1920);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 75% 65%;
	background-size: 150%;
}

body.tutorialplant{
	background-image: url(https://cdn1.epicgames.com/ue/product/Screenshot/08-1920x1080-bf05d1f8768ebea7bc62c1745f2b0b5c.jpg?resize=1&w=1920);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 75% 65%;
	background-size: 150%;
}

.intercomtext2{
	position: fixed;
	color: white;
	right: 200px;
	height: 350

}

.intercombox2{
	position: fixed;
	border: 2px solid black;
	background-color: rgb(77, 74, 74);
	width: 350px;
	height: 80px;
	right: 100px;
}

.intercombox{
	position: fixed;
	border: 2px solid black;
	background-color: rgb(77, 74, 74);
	width: 250px;
	height: 80px;
	right: 100px;
}

.tutorialbox{
	position: fixed;
	border: 2px solid black;
	background-color: rgb(77, 74, 74);
	width: 350px;
	height: 80px;
	left: 200px;
}

.intercombox3{
	position: fixed;
	border: 2px solid black;
	background-color: rgb(77, 74, 74);
	width: 650px;
	height: 100px;
	right: 100px;
}

.intercomtext3{
	position: fixed;
	color: white;
	right: 105px;
	top:325px;

}

.intercomtext4{
	position: fixed;
	color: white;
	right: 130px;

}

.text6{
	position: fixed;
	z-index: 1;
	color: black;
	position:relative;
	top:310px;
}

.box6{
	position: fixed;
	z-index:0;
	width: 350px;
	height: 190px;
	border: 2px solid black;
	background: white;
	position: relative;
	top: 550px;
	right: 120px;
}

.boxtut{
	position: fixed;
	z-index:0;
	width: 350px;
	height: 170px;
	border: 2px solid black;
	background: white;
	position: relative;
	top: 550px;
	right: 20px;
}

.box7{
	position: fixed;
	z-index:0;
	width: 500px;
	height: 180px;
	border: 2px solid black;
	background: white;
	position: relative;
	top: 550px;
	right: 20px;
}

.textt{
	position: fixed;
	z-index: 1;
	color: black;
	position:relative;
	top:315px;
}

.textt2{
	position: fixed;
	z-index: 1;
	color: black;
	position:relative;
	top:490px;
}

.text5{
	position: fixed;
	z-index: 1;
	color: black;
	position:relative;
	top:285px;
}

body.bathroom{
	background-image: url(https://cdnb.artstation.com/p/assets/images/images/027/345/729/large/anya-allin-gonegirl-inspired-bathroom-03.jpg?1591271454);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}


body{
	z-index: 1;
	position: static;
	background: rgb(65, 5, 14);
	font-family: helvetica;
}




/* The body is everything displayed in the main text delivery area
body {
	background: blue;
}
*/

/* This class is specific to the text in the passages
.passage {
    border: 1px solid red;
}
*/

/* This id is specific to the sidebar
#ui-bar {
	display: none;
}
*/

/* This id is specific to the header
#header {
	
}
*/

/* This id is specific to the footer
#footer {
	
}
*/

/* This class will override any styles on passages tagged "forest"
.forest {
	background: green;
}
*/