




/*
Andrea's CSS: :)
This is where we do all the fancy visual stuff for our code.

*/
.intercom{
	height: 50%;
	width: 50%;
}

body{
	position: static;
	background: lightpink;
	font-family: comic-sans;
}

body.first{
	background-image: url(https://www.gannett-cdn.com/presto/2022/10/18/PLOU/13ce2248-71ef-429c-8f13-80f8d5978553-contemporary_and_chic_1.jpg?crop=6199,3487,x0,y160&width=3200&height=1801&format=pjpg&auto=webp);
	background-size: cover;
}

.box1{
	z-index:0;
	width: 200px;
	height: 150px;
	border: 2px solid black;
	background: white;
	position: relative;
	top: 550px;
	right: 20px;
}
.text1{
	z-index: 1;
	color: black;
	position:relative;
	top:300px;
}

.void{
	background-color: black;
}

/* The body is everything displayed in the main text delivery area
body {
	background: blue;
}
*/

/* This class is specific to the text in the passages
.passage {
    border: 1px solid red;
}
*/

/* This id is specific to the sidebar
#ui-bar {
	display: none;
}
*/

/* This id is specific to the header
#header {
	
}
*/

/* This id is specific to the footer
#footer {
	
}
*/

/* This class will override any styles on passages tagged "forest"
.forest {
	background: green;
}
*/